a:hover {
    text-decoration: none;
}

body{
    background-image:url('../img/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: calc(100% - 20px) calc(100% - 20px);
    background-size: 155.3px 45px;
}