Config.inc.php
.vscode
node_modules
*.ffs_db
*.ffs_lock
*.log
*.cache
*.zip
*.lock
*.db
*tmp
*.BAK
**/users/*.JPG
**/users/*.jpg
**/howto/*.jpg
**/howto/*.txt
**/vendor/*
**/log/*
**/export/*
**/dist/*
**/aerotropolis/assets/file/*
